div.container {
	padding-bottom: 10px;
}

img {
	height: 640px !important;
	width: auto !important;
	margin: 0px 0px 0px 0px !important;
	user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
}

div#left {
	width: 33%;
	float: left;
}

div#right {
	/*overflow: hidden;*/
	float: right;
	width: 67%;
	/*height: 650px;*/
	/*display: block;*/
}

div#divReport {
	width: 100%;
}

#taReport {
	background: white;
	color: black;
	width: 100%;
	height: 23em;
	margin-bottom: 4px;
	overflow: auto;
}

.frame {
	width: 400px;
	height: 660px;
	overflow: hidden;
	outline: 1px solid #aaa;
}
.slidee {
	list-style: none;
	margin: 0;
	padding: 0;
}
.slidee li {
	float: left;
	margin: 0 1px;
	padding: 0;
	text-align: center;
}
